# Environnement virtuel
venv/
env/
ENV/
env.bak/
venv.bak/

# Fichiers compilés Python
__pycache__/
*.py[cod]
*$py.class

# Fichiers de configuration locaux ou secrets
serviceAccountKey.json
.env
*.db
*.sqlite3

# Dossier data complet (vidéos temporaires, base de données, photos)
data/

# Modèles IA (lourds)
ai/weights/*.pt

# MacOS
.DS_Store
